.industries-section {
  text-align: left;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30vw;
  height: 50vh;
  margin: 0% 1%;
  /* display: flex; */
  align-items: center;
  text-align: center;
  font-family: arial;
  border-radius: 24px;
  background-color: #f5f5f7;
}

.image-details {
  padding: 18%;
}

.image-details img {
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
}

.card-information {
  
  padding: 0% 6%;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.heading {
  color: #23293c;
  font-family: Mont;
  font-size: 1.6rem;
  text-align: left;
}

p.description {
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  line-height: 3vh;
  /* width: 18vw; */
  /* padding-right: 30%; */
  text-align: justify;
}



.card-arrow {
  font-size: 2.5rem;
  color: #ff5043;
  /* margin-left:25px ; */
}


@media screen and (min-width:420px) and (max-width:650px) {
  
  .industries-section >.text {
    font-size: 1.3rem;
  }
  .colour {
    color: #ff5043;
  }

  .industries-section {
    text-align: left;
    box-sizing: border-box;
  }
  
  .card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    width: 27vw;
    height:28vh;
    align-items: center;
    text-align: center;
    font-family: arial;
    border-radius: 15px;
    background-color: #f5f5f7;
    margin: 0% 1%;
  }
  
  .image-details {
    padding: 14%;
  }
  
  .image-details img {
    border-radius: 50%;
    height: 7vh;
    width: 5vw;
  }
  
  .card-information {
    padding:  0% 4% ;
  }
  
  .card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .heading {
    color: #23293c;
    font-family: Mont;
    font-size: 0.5rem;
    text-align: left;
  }
  
  p.description {
    font-size: 0.4rem;
    letter-spacing: 0.1px;
    line-height: 2vh;
     /* width: 21vw;  */
    padding-right: 10%;
    text-align: justify;
  }
  
  
  .card-arrow {
    font-size: 1.2rem;
    color: #ff5043;
    /* margin-left:25px ; */
  }
  
}